VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GEMINI_API_KEY=
VITE_TONY_THE_KEY=

# DodoPayments configuration
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=
VITE_DODO_PAYMENTS_PRO_PRODUCT_ID=pdt_0NdcQVcYpXg0w3N87P0w7
VITE_DODO_PAYMENTS_INFINITY_PRODUCT_ID=pdt_0NdcQdLH1wNHFJYRDEt1u
